{% extends "orders/base.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block page_content %}
    <div id="registration_page">
        <p class="title">Signup to Pinocchio's!</p>
        <div id="login_signup_form">
            <form action="{% url 'register' %}" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-dark" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}