{% extends "orders/base.html" %}

{% block title %}
    Basket
{% endblock %}

{% block script %}
    <!-- link any scripts here -->
{% endblock %}

{% block page_content %}
    <div id="page_content">
        <div id="basket_page">
            <div id="basket">
                {% if items %}
                <table>
                    {% for item in items %}
                    <tr>
                        <td class="item">{{ item }}</td>
                        <td class="remove"><a href="{% url 'remove_item' item.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
                <p id="basket_total">Basket total: ${{ total }}</p>
                <a class="btn btn-dark" href="" role="button">Checkout</a>
                <a class="btn btn-dark" href="{% url 'order' %}" role="button">Add more items</a>
                {% else %}
                    <h3 class="empty">Your basket is empty!</h3>
                    <a class="btn btn-dark" href="{% url 'order' %}" role="button">Choose your items</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}